body {
  background-color: #f5f5f5 !important;
}

main {
  display: flex;
  align-items: center;
}

.form-auth {
  text-align: center;
  margin: auto;
  display: flex;
  padding-top: 40px;
  width: 320px;
}

.form-auth .form-floating:focus-within {
  z-index: 2;
}

.invalid-feedback {
  text-align: start;
}

.card-text {
  white-space: pre-line;
}